@import "../../custom.scss";
$corner-cut: 30px;

.card-image {
    object-fit: cover;
    filter: opacity(20%);
    height: 300px;
}

.game-logo {
    height: 2.5rem;
    float: right;
}

.rank-medal {
    height: 4rem;
    float: right;
}

.bio {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}

.card-attribute {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.card-attribute-value {
    padding-right: 3rem;
}

.modal {
    filter: drop-shadow(0.5rem 0.5rem 0.5rem $oxford-blue);
}

.modal-backdrop {
    background: linear-gradient(
        135deg,
        $aqua,
        $violet-color-wheel,
        $byzantine
    ) !important;
}

.modal-content {
    clip-path: polygon(
        0px 0,
        calc(100% - #{$corner-cut}) 0,
        100% #{$corner-cut},
        100% 100%,
        #{$corner-cut} 100%,
        0 calc(100% - #{$corner-cut}),
        #{$corner-cut} 100%,
        0 calc(100% - #{$corner-cut}),
        0 #{$corner-cut}
    );
    background-color: $yale-blue !important;
}

.modal-image {
    object-fit: cover;
    filter: blur(0.4rem) opacity(40%);
    height: 600px;
}
