@import "../../custom.scss";

.bar {
    margin-top: 1.75rem;
    background-color: $yale-blue;
    padding: 0.5rem 1rem;
}

.header {
    font-size: 1.2rem;
    font-family: "Saira Stencil One", sans-serif;
}
