@import "../../custom.scss";

footer {
    background-color: $rich-black;
    color: $baby-powder;
    display: flex !important;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
}
