//0c233f-1a4c89-39a7ff-0af5fe-7633ff-c800a8-031523-fffffb
$oxford-blue: #0c233f;
$yale-blue: #1a4c89;
$blue-jeans: #39a7ff;
$aqua: #0af5fe;
$violet-color-wheel: #7633ff;
$byzantine: #c800a8;
$rich-black: #031523;
$baby-powder: #fffffb;