@import "./colors"; 

// Override default variables before the import
$theme-colors: (
    'primary': $yale-blue,
    'secondary': $byzantine,
    'info': $baby-powder
);
$body-bg: $oxford-blue;
$body-color: $baby-powder;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
