@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@200;300;400;500;600;700;800&family=Saira+Stencil+One&display=swap");

@import "./scss/colors";
@import "./scss/typography";
@import "./scss/layout";

// Override default variables before the import
$theme-colors: (
    "primary": $yale-blue,
    "secondary": $byzantine,
    "info": $baby-powder,
    "warning": $oxford-blue
);

// Body
$body-bg: $oxford-blue;
$body-color: $baby-powder;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}
